<h1>Restaurants</h1>

<%= link_to 'Create Restaurant', new_restaurant_path, class: 'btn btn-primary' %>

<table class="table">
  <thead class="navbar-light" style="background-color: #e3f2fd;">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Category</th>
      <th scope="col">Phone number</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.category.capitalize %></td>
        <td><%= restaurant.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
